html {
    background: rgb(168, 203, 224);
    scrollbar-width: none;
}

.container {
    background: aliceblue;
    border: 2px solid lightgray;
}

header {
    background-image: url("../images/header-kite-flying.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: right;
}


input {
    margin: 0 !important;
}

label {
    transform: translateY(-16px) scale(1) !important;
}

.rangeLabel {
    transform: unset !important;
}

#pageTitle {
    display: flex;
    align-items: flex-end;
    margin-bottom: 1rem;
    border-bottom: 1px solid darkslategray;
}

#kiteClub {
    margin: auto;
    margin-top: .8rem;
    margin-left: 2rem;
    font-family: 'Luckiest Guy', cursive;
    color: darkslategray;
    font-size: 90px;
}

#flyAKite {
    margin: 0 2rem .5rem auto;
    font-style: italic;
    font-weight: bolder;
    font-family: 'Architects Daughter', cursive;
    color: darkslategray;
}

.inputSlider {
    border: none !important;
}

#ignoreMaxWindLabel {
    margin-top: 3rem !important;
}

#search {
    margin-top: 1rem;
}

canvas {
    border: 1px solid black;
}

#map {
    height: 85vh;
}

#locationList {
    height: 85vh;
    background: #ddd;
    border: 1px solid black;
    max-height: 90vh;
    overflow: scroll;
    scrollbar-width: none;
}

#attributions > * {
    display: inline-block;
    width: 30%;
}